.page {
  width: 100%;
}
.page__container {
  padding-right: 0;
  padding-left: 90px;
}
@media (max-width: 1260px) {
  .page__container {
    padding-left: 20px;
  }
}

.content__container {
  display: flex;
  flex-direction: row;
}

.sidebar {
  max-width: 300px;
  padding-left: 8px;
  position: sticky;
  background-color: #2F3134;
  width: 61px;
  height: 58px;
  padding-top: 8px;
  top: 90px;
  margin-top: 131px;
  transition: 0.3s ease;
  border-radius: 50%;
  overflow: hidden;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.sidebar__btn._open {
  transform: rotateZ(180deg);
  margin-left: auto;
}
.sidebar._open {
  width: 100%;
  height: 100vh;
  padding-top: 131px;
  top: 0;
  margin-top: 0;
  border-radius: 0;
  overflow-y: scroll;
}
@media (max-width: 540px) {
  .sidebar {
    position: fixed;
    z-index: 4;
    top: 0;
    margin-top: 70px;
  }
}

.categories__title {
  font-weight: 600;
  color: var(--green-text-color);
}
.categories__items {
  margin-block: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.categories__item {
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 16px;
  cursor: pointer;
}

.tag-green, .card__tag {
  background-color: #214139;
  color: #17E99D;
}

.tag-blue, .categories__item {
  background-color: #213741;
  color: #35D4F8;
}

.displays__title {
  font-weight: 600;
  color: var(--green-text-color);
}
.displays__buttons {
  margin-top: 20px;
}

.double-column-btn {
  margin-right: 7px;
}

.main__title {
  padding-block: 60px;
  font-family: Montserrat, sans-serif;
  font-size: 38px;
  font-weight: 800px;
  background: rgb(23, 233, 107);
  background: linear-gradient(110deg, rgb(23, 233, 107) 0%, rgb(36, 215, 194) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#17e96b",endColorstr="#24d7c2",GradientType=1);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 1024px) {
  .main__title {
    font-size: 32px;
  }
}
@media (max-width: 540px) {
  .main__title {
    font-size: 24px;
  }
}
.main__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(231px, 1fr));
  gap: 80px clamp(1.875rem, -3.195rem + 11.19vw, 6.875rem);
}

.search {
  position: relative;
  margin-bottom: 60px;
}
.search__btn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  color: var(--dark-text-color);
  background-color: #23D7C2;
  padding: 6px 14px;
  border-radius: 32px;
  font-size: 18px;
}
.search__icon {
  margin-left: 8px;
}
.search__input {
  border-radius: 32px;
  width: 100%;
  height: 100%;
  padding: 10px 125px 10px 18px;
  border: 1px solid #21DBB1;
  background-color: #2A3639;
  color: #fff;
}
.search__input::-moz-placeholder {
  letter-spacing: 0.02em;
  color: #c0c0c0;
}
.search__input::placeholder {
  letter-spacing: 0.02em;
  color: #c0c0c0;
}
.search__input:focus::-moz-placeholder {
  color: transparent;
}
.search__input:focus::placeholder {
  color: transparent;
}
@media (max-width: 540px) {
  .search__input {
    font-size: 14px;
  }
}

.card {
  position: relative;
  border-radius: 20px;
  background-color: #313642;
  box-shadow: 0px 4px 18px 5px rgba(59, 84, 108, 0.1);
}
.card__favourite {
  position: absolute;
  top: 0;
  right: 0;
}
.card__image {
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.card__image img {
  height: 260px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 540px) {
  .card__image img {
    height: 300px;
  }
}
.card__text {
  font-size: clamp(1rem, 0.85rem + 0.44vw, 1.25rem);
}
.card__desc {
  padding: 12px 20px 20px;
}
.card__tags {
  margin-top: 16px;
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .card__tags {
    gap: 8px;
  }
}
.card__tag {
  padding: 2px 10px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 15px;
}
@media (max-width: 1024px) {
  .card__tag {
    font-size: 12px;
  }
}

.favourite__icon {
  background-color: rgba(47, 49, 52, 0.7);
  border-radius: 0 20px;
}

._open {
  display: block;
}/*# sourceMappingURL=main.css.map */