.profile-photo {
    margin: 1.25rem auto;
    margin-bottom: 0px;
    width: 11rem;
    height: 11rem;
    overflow: hidden;
    border-radius: 5px;
    background-color: #C7C7C7;
    border: 3px solid #8BE3D9;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .profile-photo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }

  .profile-container {
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-description {
    text-align: center;
    background-color: #3F484C;
    border-radius: 7px;
    max-width: 29.125rem;;
    width: 100%;
    height: auto;
    min-height: 19.75rem;
    margin: auto;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    box-shadow: 3px 20px 15px 0px rgba(0, 0, 0, 0.35);
  }
  
  .username {
    font-size: 1.5rem;
    color: #8BE3D9;
    padding: 0.625rem;
    margin: 0.625rem auto;
  }
  
  .location {
    font-style: italic;
    color: #ffffff;
    font-size: 1.125rem;
    margin-bottom: 0.625rem;
  }
  
  .profile-container textarea, .profile-container p {
    min-height: 12.5rem;
    height: auto;
    overflow:visible;
    padding: 0.625rem;
    width: 90%;
    margin: 0.625rem;
    min-width: 10rem;
    text-align: center;
    border: 1px solid #ccc;
    color: #ffffff;
    font-size: 1.125rem;
    border-radius: 5px;
    background-color: #3F484C;
    box-sizing: unset;
    resize: none;
  }
  
  .profile-container textarea::-webkit-scrollbar, 
  .profile-container p::-webkit-scrollbar {
    display: none;
  }
  .profile-container p {
    border: none;
  }
  
  .profile-container textarea::placeholder {
    color: #cdcdcd;
  }
  
  .image-backline-container {
    position: absolute;
    overflow: hidden;
    top: 7.5rem; 
    left: 0; 
    width: 100%;
    height: 18.75rem;
    z-index: 0;
    background-color: #B5CCCD;
    display: flex;
  }
  
  .image-backline-container img {
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 0;
  }