.tags-panel {
  display: flex;
  flex-wrap: wrap;
  margin: 0rem 5.874rem;
  justify-content: flex-start;
  align-items: center;
  height: auto;
}

.tag {
  background-color: #213741;
  color: #35D4F8;
  padding: 1rem;
  margin: 0.25rem 1.5rem;
  height: 1rem;
  font-size: 1.125rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
